<p>
Conversational Question Answering (QA) is one of the core applications for retrieval-based chatbots. In conversational QA, the task is to answer a series of contextually-dependent questions like they may occur in natural human-to-human conversations. The task can be decomposed into three subtasks: (1) Question rewriting aims to generate self-contained versions of the contextually-dependent questions; (2) Document retrieval aims to find the documents relevant to the question in a web collection; and (3) Question answering extracts or abstracts an answer to the question from the retrieved documents.
</p>

<p>
We invite participation in the SCAI’21 Conversational Question Answering Challenge as part of the SCAI’21 workshop. Participating teams can submit results for one, two, or all three of the steps outlined above. Suitable systems include such for dense passage retrieval and re-ranking, multi-span extractive and generative QA, and query-focused multi-document summarization.
</p>

<h2>Registration (now)</h2>
<p>
Register yourself or your team <a href="https://forms.gle/JFBXZXPtWPqbtLhu8">here</a>. The challenge uses anonymous submission: teams can reveal their identity to others when and if they desire. Also, join the <a href="https://groups.google.com/g/scai-cqac">mailing list</a> to receive updates and communicate with fellow teams. If you have specific requests, please <a href="mailto:scai-cqac-organizers@googlegroups.com">write to the organizer's mailing list</a>.
</p>

<h2>Dataset</h2>
<p>
The challenge uses the <a href="https://arxiv.org/abs/2010.04898">QReCC dataset</a> for evaluation. The dataset contains 14K conversations with 81K question-answer pairs and is <a href="https://github.com/apple/ml-qrecc">publicly available</a>. We will provide the pre-processed passages of the document collection in April. The submissions of participating teams for all three subtasks will be evaluated through crowdsourced annotation in an effort to enrich QReCC’s ground-truth.
</p>

<h2>Submission (8 September 2021)</h2>
<p>
The submission deadline is September 8. Evaluation results will be available on September 30 latest.
</p>

<h2>Workshop (8 October 2021)</h2>
<p>
Participating teams will be invited to submit a short notebook paper detailing their approach for publication in conjunction with the <a href="https://scai.info/">SCAI’21 workshop</a>.
</p>
